div.threecols {
    width: 300px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    float: left;
}

div.threecolsleft {
    width: 100px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 10px;
    float: left;
}

div.threecolsmiddle {
    width: 100px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 10px;
    float: left;
}

div.threecolsright {
    width: 100px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 10px;
    float: left;
}


div.twocols {
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    vertical-align: middle;
    float: left;
}

div.twocolsleft {
    width: 58%;
    padding-top: 10px;
    padding-right: 0px;
    vertical-align: middle;
    float: left;
} 

div.twocolsright {
    padding-left: 0px;
    padding-top: 10px;
    width: 39%;
    float: left;
} 

.center:not(.section), .center>h1, .center>h2 {
    text-align: center;
}

html[data-theme="dark"] img {
    filter: none;
}
html[data-theme="dark"] .bd-content img:not(.only-dark):not(.dark-light) {
    background: unset;
}


